body {
    margin: 0;
    padding: 0;
    font-family: 'EXO', sans-serif;
}

header {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
}

.hamburger-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    cursor: pointer;
}

.hamburger-icon::after {
    top: 6px;
}

main {
    position: relative;
}


.content-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.content-wrapper {
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}

.website-name {
    font-family: 'BEBAS NEUE', sans-serif;
    font-size: 3.5em;
    margin-bottom: -20px;
    background: linear-gradient(to right, #3a7bd5, #ffda83, #163560, #ffda83);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}



@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }

    /* 25% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 25% 75%;
    } */
    100% {
        background-position: -100% 0;
    }
}

#website-name {
    animation: gradientAnimation 1s linear infinite;
}


/* Sidebar styles */
#sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #080808;
    transition: 0.5s;
    z-index: 1001;
}

#sidebar.active {
    right: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #000;
    /* Separator line */
}

.close-sidebar-icon {
    cursor: pointer;
}


#website-name-sidebar {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: #e7e4e4 !important;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    text-decoration: none;
}

.sidebar-separator {
    border-top: 0px solid #000000;
    background: black;
    margin: 15px 0;
}

.sidebar-content {
    padding: 17px;
    color: #e7e4e4;
}

.sidebar-heading {
    padding: 13px;
    margin: 0;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #e7e4e4;
}

.sidebar-heading:hover {
    background-color: #c5d4dc;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}


.sidebar-option {
    padding: 1px 20px;
    background-color: black;
    color: #fff;
    border-bottom: 1px solid #000;
}

.sidebar-option:last-child {
    border-bottom: none;
}

.close-sidebar-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #fff;
}



.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

#bg-video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}


.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    margin-top: 10vh;
}


.box-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 20vh;
}

.box {
    text-align: center;
    cursor: pointer;
    position: relative;
    color: #fff;
    margin-top: 5vh;
    background-color: #333;
    padding: 1px 9px 12px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 20px;
    font-size: 13px;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upper-line,
.lower-line {
    height: 2px;
    background-color: #303030;
    width: 73%;
    position: absolute;
    transition: background-color 0.3s ease;
}

.box:hover .upper-line,
.box:hover .lower-line {
    background-color: rgba(187, 222, 251, 0.603);
    ;

}

.lower-line {
    bottom: 0;
}


#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    filter: brightness(60%);
}


@keyframes videoAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}


#bg-video {
    animation: videoAnimation 5000s infinite;
}


.content-section {
    position: relative;
    text-align: center;
}

.content-wrapper {
    padding: 20px;
    box-sizing: border-box;
}

.content-section h2 {
    font-family: 'BEBAS NEUE', sans-serif;
    font-size: 3.5em;
    margin-bottom: -20px;
    background: none;
    letter-spacing: 2px;
    color: seagreen;
}

.content-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
    background: none;
}

@media only screen and (max-width: 768px) {
    .content-wrapper p {
        font-size: 0.9em;
        width: 90% !important;
    }
}

@media only screen and (max-width: 480px) {
    .content-wrapper p {
        font-size: 0.8em;
        width: 95%;
    }
}

.title-line {
    height: 2px;
    background-color: #fff;
    width: 50%;
    margin: 0 auto 20px;
}


#section1 {
    background-color: #DEE4E9;
    color: #2C334B;
    height: 60vh;
}

.content-section h2 {
    font-family: 'BEBAS NEUE', sans-serif;
    font-size: 3.5em;
    margin-bottom: -20px;
    background: none;
    letter-spacing: 2px;
    /* color: #add8e6;  Light Blue text color */
    color: #343A50;
    text-align: center;
    margin-top: 70px;
}

.content-section p {
    font-size: 1em;
    margin-bottom: 30px;
    background: none;
    width: 40%;
    text-align: justify;
    margin: auto;
    margin-top: 20px;
    color: #2C334B;
    margin-bottom: 35px;


}

/* Styles for Section 2 */
#section2 {
    height: 70vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

.left-content-section2 {
    width: 48%;
    height: 100%;
    background: url('/static/images/Vector1.png') no-repeat left center;
    background-size: cover;
    overflow: hidden;
}

.right-content-section2 {
    width: 50%;
    text-align: left;
    overflow: hidden;
    padding-left: 20px;
}

.right-content-section2 h2 {
    font-family: 'BEBAS NEUE', sans-serif;
    font-size: 4em;
    color: #add8e6;
}

.right-content-section2 p {
    font-size: 1em;
    line-height: 1.6;
    color: white;
    width: 70%;
}

@media screen and (max-width: 767px) {
    .left-content-section2 {
        display: none;
    }

    .right-content-section2 {
        width: 100%;
        padding: 0;
        font-size: 13px;
    }
}

/* Media query for medium to large screens */
@media screen and (min-width: 768px) {
    .left-content-section2 {
        display: block;
        width: 50%;
        background: url('/static/images/Vector1.png') no-repeat left center;
        background-size: cover;
        overflow: hidden;
    }

    .right-content-section2 {
        width: 50%;
        text-align: left;
        padding-left: 20px;
        font-size: 13px;
    }
}


/* Styles for Section 3 */
#section3 {
    height: 70vh;
    background-color: #DEE4E9;
    color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

.left-content-section3 {
    width: 50%;
    text-align: left;
    overflow: hidden;
    padding-right: 20px;
}

.left-content-section3 h2 {
    font-family: 'BEBAS NEUE', sans-serif;
    font-size: 4em;
    margin-bottom: 20px;
}

.left-content-section3 p {
    font-size: 1em;
    line-height: 1.6;
    width: 80%;

}

.right-content-section3 {
    width: 50%;
    height: 100%;
    background: url('/static/images/Vector\ 2.png') no-repeat right center;
    background-size: cover;
    overflow: hidden;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
    .left-content-section3 {
        width: 100%;
        padding: 0;
        font-size: 13px;
    }

    .right-content-section3 {
        display: none;
    }
}

/* Media query for medium to large screens */
@media screen and (min-width: 768px) {
    .left-content-section3 {
        width: 50%;
        padding-right: 20px;
    }

    .right-content-section3 {
        display: block;
        width: 50%;
        background: url('/static/images/Vector\ 2.png') no-repeat right center;
        background-size: cover;
        overflow: hidden;
    }
}


/* Styles for Section 4 */
#section4 {
    height: 70vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

}


#section4-heading {
    font-size: 4em;
    margin-bottom: 35px;
    color: #add8e6;
}

@media screen and (max-width: 768px) {
    #section4-heading {
        font-size: 3em;
    }
}

@media screen and (max-width: 576px) {
    #section4-heading {
        font-size: 2.5em;
    }
}


.section4-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section4-image {
    margin: 0 40px;
}

.section4-image img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.section4-image img:hover {
    transform: scale(1.1);
    background: none;
}

.section4-para {
    font-size: 1.1em;
    background: none !important;
    text-align: justify !important;
    margin: auto !important;
    margin-bottom: 35px !important;
    color: white !important;
    width: 100% !important;

}

#missionpage_image2 {
    width: 75px;
    height: 65px;
}

#missionpage_image3 {
    width: 63px;
    height: 65px;
}



/* Media query for mobile devices with width between 425px and 592px */
@media only screen and (min-width: 425px) and (max-width: 592px) {
    .box {
        padding: 5px 13px !important;
        font-size: 11px;
    }

    .content-wrapper {
        margin-top: -5px;
        font-size: 13px;
    }

    .section4-para {
        font-size: 0.8rem;
    }

    .section4-image img {
        width: 65px;
        height: 65px;
    }

    .section4-image img {
        width: 55px;
        height: 55px;
    }

    .section4-para {
        font-size: 0.85rem;
    }
}